/* Global styles */

#agency #notice {
    color: #0e5c8b;
    border: 2px solid #0e5c8b;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #b1d68a;
    font: bold smaller sans-serif;
}


#agency h1 {
    font:  150% sans-serif;
    color: #0e5c8d;
    border-bottom: 3px dotted #0e5c8d;
}

/* Styles for puppies/index */

.puppy_list {
  margin: 2px;
}
.puppy_list div {
  float: left;
  margin: 3px 6px;
}

.puppy_list img {
  width: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.puppy_list .image {
  width: 100px;
}

.puppy_list .name {
  width: 120px;
}

.puppy_list .details {
  width: 220px;
}

.puppy_list .list_actions {
    font-size:    x-small;
    text-align:   right;
    padding-left: 1em;
}

.puppy_list .list_line_even {
   width: 650px;
   background: #ffcc99;
   color: #0e5c8d;
}

.puppy_list .list_line_even a {
    color: #0e5c8d;
}

.puppy_list .list_line_odd {
   width: 650px;
   background: #584340;
   color: #b1d68a;
}

.puppy_list .list_line_odd a {
  color: #b1d68a;
}

/* An entry in the agency catalog */

#agency  .entry {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 1px dotted #0e5c8d;
}

#agency  .title {
    font-size: 120%;
    font-family: sans-serif;
}

#agency .entry img {
    width: 80px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}

.entry h2 {
    margin-top: 0;
    margin-bottom: 2px;
    color: #0e5c8d;
}

#agency .entry h3 {
    margin-top: 0;
    margin-bottom: 2px;
    color: #0e5c8d;
}

#agency .entry p {
    margin-top: 0.5em; 
    margin-bottom: 0.8em; 
}

#agency .entry .fees_line {
    margin-bottom: 0.5em;
}

#agency .entry .adopt {
    position: relative;
}

#agency .entry  .fees {
    color: #0e5c8d;
    font-weight: bold;
    margin-right: 2em;
}

/* Styles for main page */

#banner {
    background: #b1d68a;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
    font: small-caps 40px/40px "Times New Roman", serif;
    color: #0e5c8d;
    text-align: center;
}

#banner img {
    float: left;
}

#menu {
    background: #0e5c8d;
    color: #b1d68a;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#menu a{
    color: #b1d68a;
    padding-left: 10px;
    padding-right: 10px;
}

#columns {
    background: #b1d68a;
}

#main {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4ex;
    background: white;
    align: center;
}

#agency .entry form, #agency .entry form div {
    display: inline;
}

#agency .cart_title {
    font: 120% bold;
}

#agency .item_price, #agency .total_line {
    text-align: right;
}

#agency .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid;
}

.puppy_form fieldset {
    background: #efe;
}

.puppy_form legend {
    color: #b1d68a;
    background: #0e5c8d;
    font-family: sans-serif;
    padding: 0.2em 1em;
}

.puppy_form label {
    width: 5em;
    float: left;
    text-align: right;
    padding-top: 0.2em;
    margin-right: 0.1em;
    display: block;
}

.puppy_form select, .puppy_form textarea, .puppy_form input {
    margin-left: 0.5em;
}

.puppy_form .actions {
    margin-left: 4em;
}

.puppy_form div {
    margin: 0.5em 0;
}
